![GL logo.png]()

Proprietary content. © Great Learning. All Rights Reserved. Unauthorized use or distribution prohibited.


# <font color='green'> **Course 2: Week 02 - Revision** </font>

## Table Of Contents
### <font color='blue'> Exception Handling - Examples   
* NameError  
* ZeroDivisonError  
* IndexError  
* ValueError  
* Using try and except block  
* Raising exception manually  
</font>  

### <font color='blue'> Functions - Practice questions   
* Lambda function  
* Supporting functions  
    * map  
    * filter
    * reduce
</font>  

### <font color='blue'> Numpy   
* Practice questions    
</font>

### Exception Handling - Examples

<font color='green'> **NameError** </font>

In [2]:
print(name)

NameError: ignored

<font color='green'> **ZeroDivisionError** </font>

In [3]:
10 / 0

ZeroDivisionError: ignored

<font color='green'> **IndexError** </font>

In [9]:
lst = ['Amar', 'Akbar', 'Antony']
print(lst[3])

IndexError: ignored

<font color='green'> **ValueError** </font>

In [10]:
import math
print(math.sqrt(-2))

ValueError: ignored

<font color='green'> **Using try and except block** </font>

In [4]:
try:
    lst = ['Amar', 'Akbar', 'Antony']
    print(lst[3])
except Exception as e:
    print(e)
    print('Enter a valid index value')

list index out of range
Enter a valid index value

In [5]:
import math
try:
    a = math.sqrt(-2)
except Exception as e:
    print(e)
print('Am I executed?')

math domain error
Am I executed?

1. Write a program that accepts two integer inputs. Divide the two numbers, first being the numerator and second being denominator. Make use of **try** and **except** to handle ***ZeroDivisionError.***

In [6]:
x= int(input("Numerator: - "))
y= int(input("Denominator: - "))

try:
    result = x // y
    print("Yeah ! Your answer is :", result)
except ZeroDivisionError:
    print("Sorry ! You are dividing by zero ")

Numerator: - 10
Denominator: - 0
Sorry ! You are dividing by zero

2. Write a program that will accept **age** as an input from a user. If a use types incorrect value the program throws an exception. After accepting the input do the following checks...  
a. When a user types invalid value print a message "Enter valid input value"   
b. If the age is **< 18** print a message "You are too young to get a driving license"   
c. If the age is **> 18** print a message "Welcome"  
d. Finally print the message "Please rerun the code and enter the input values"

In [7]:
try:
    age=int(input('Enter your age: '))
except ValueError as e:
    print ('Enter valid input value.')
else:
    if age < 18:
        print('You are too young.')
    else:
        print('Welcome')
finally:
    print("Please re run the code and enter input values")

Enter your age: 10
You are too young.
Please re run the code and enter input values

<font color='green'> **Raising Exception manually** </font>

In [8]:
x = "Hello"

if not type(x) is int:
    raise TypeError("Only integers are allowed")

TypeError: ignored

## Functions - Practice questions

1. Write a Python function to multiply all the numbers in a list.

In [5]:
def multiply(list1):
    output=1
    for i in  (list1):
         output=output*i
    return output
list1=[1,3,5,7,9]
print(multiply(list1))

945

2. Write a Python function to reverse a string 
i) use for loop
ii) use while loop

In [14]:
def rev_string(s1):
    output=" "
    for i in s1:
        
        return output
name=(int(input("Enter the name")))
print(rev_string(name))

SyntaxError: invalid syntax (1350308494.py, line 4)

3. Write a function to add and subtract two variables

In [13]:
def add_and_sub(val1,val2):
    print(val1+val2,"Addition of two numbers")
    print(val1-val2,"Subtraction of two numbers")
    return(val1,val2)
val1=(int(input("Enter the number")))
val2=(int(input("Enter the number")))
print(add_and_sub(val1,val2))

Enter the number67
Enter the number56
123 Addition of two numbers
11 Subtraction of two numbers
(67, 56)

 4. Write a function to check whether the given number is divisible by 12 or not

In [15]:
def divisible(num):
    if num%12==0:
        print(num,"divisible by 12")
    else:
        print(num,"not divisible by 12")
num=(int(input("Enter the number")))
divisible(num)

Enter the number144
144 divisible by 12

5. Write a function to calculate the number of days and weeks given the number of months

In [17]:
def dates_and_week(a):
    print(a*30,"Number of days in a month")
    print(a*4,"Number of weeks in a month")
    return(a)
a=(int(input("Enter the number of month :")))
dates_and_week(a)

Enter the number of month :4
120 Number of days in a month
16 Number of weeks in a month

4

6. Write a Python function to calculate the factorial of a given argument?

In [18]:
def factorial(num):
    fact=1
    for i in range(1,num+1):
         fact=fact*i
    return fact
factorial(8)

40320

7. Write a Python function to find the unique elements from the list   
\[1, 2, 3, 3, 3, 3, 4, 5, 4, 2, 4, 2, 4, 4, 2, 4, 5, 4, 34, 654, 5, 7, 6, 5, 4, 3\]

In [20]:
def unique(list1):
    li=set(list1)
    list1=list(li)
    return list1
list2=[1, 2, 3, 3, 3, 3, 4, 5, 4, 2, 4, 2, 4, 4, 2, 4, 5, 4, 34, 654, 5, 7, 6, 5, 4, 3]
unique(list2)

[1, 2, 3, 4, 5, 34, 7, 6, 654]

8. Required arguments: - Write a function to calculate Simple Interest which accepts three arguments and returns the simple interest accordingly

In [2]:
def simple_interest(p,n,r):
    print("Principle value",p)
    print("number of years",n)
    print("rate of interest",r)
    SI=(p*n*r)/100
    print("The SI is",SI)
    return SI
simple_interest(8,7,9)

Principle value 8
number of years 7
rate of interest 9
The SI is 5.04

5.04

9. Keyword arguments: - Write a function which accepts arguments as keyword arguments. The two arguments are are **name** and **message.** Expected output is "printing the message with 'name' and  'message'"

In [6]:
  def function(code):
        print("The message is" + code)
function(code="code red")

The message iscode red

10. Default Arguments: - Write a function which will accept first argument **name** as a keyword argument and age as the default argument. Expected output is "My name is 'name' and age is '75'"

In [7]:
def function(age,Name):
    print("My name is"+ Name)
    print("age is"+ age)
function(age="75",Name="Yuvaraj")

My name isYuvaraj
age is75

## Supporting Functions

### <font color='green'> **Lambda Function** </font>

1. Get a number as an input from a user, identify whether it is odd or even? Print the message "odd" or "even" accordingly.

In [11]:
number = int(input("Enter a number >> "))
odd_even = lambda : "Even Number" if number % 2 == 0 else "Odd Number"

print(odd_even())

Enter a number >> 45
Odd Number

2. Accept an input from user and square it

In [17]:
number=[23,45,67,25]
op_number=list(map(lambda x:x**2,number))
print(op_number)

[529, 2025, 4489, 625]

3. Using logical operators, write a function that accepts an input from a user. If the input is between 0 and 10 print **True** otherwise print **False**

In [43]:
num=int(input("Enter the number"))
check=lambda x:x>=0 and x<=10
print(check(num))

Enter the number67
False

4. Accept an integer input from a user, add 5 to it and print it back?

In [44]:
num=int(input("Enter the number"))
add_5=lambda x:x+5
print(add_5(num))

Enter the number6
11

### <font color='green'> **Map** </font>

1. Add the following two lists using map()  
     The lists to be used are  \[12, 24, 36\] and \[41, 54, 69\] 
     
Expected output is - \[53, 78, 105\]

In [19]:
l1=[12, 24, 36]
l2=[41, 54, 69]
l3=list(map(lambda x,y:x+y,l1,l2))
print(l3)

[53, 78, 105]

2. Use Lambda and map functions to square each element in the given list

 \[1, 2, 3, 4, 5, 6, 7\]

In [20]:
l4=[1, 2, 3, 4, 5, 6, 7]
l5=list(map(lambda x:x**2,l4))
print(l5)

[1, 4, 9, 16, 25, 36, 49]

3. From the given list, using map function, identify odd and even numbers  
\[1, 2, 3, 4, 5, 6, 7\]

In [24]:
l6=[1, 2, 3, 4, 5, 6, 7]
l7=list(map(lambda x:x%2==0,l6 ))
print("Even Numbers are",l7)
l8=list(map(lambda x:x%2!=0,l6))
print("Odd numbers are",l8)

Even Numbers are [False, True, False, True, False, True, False]
Odd numbers are [True, False, True, False, True, False, True]

4. From the given list below, perform the Floor division using 7 on each elements of the list  
\[11, 12, 13, 14, 435, 6, 27\]

In [25]:
l9=[11, 12, 13, 14, 435, 6, 27]
l10=list(map(lambda x:x//7,l9))
print(l10)

[1, 1, 1, 2, 62, 0, 3]

### <font color='green'> **Filter** </font>

1. Using the given list filter the numbers which are not divisible by 2  
\[3,12, 24, 36,43,654,65432,2,654,455,43,543\]

In [26]:
l11=[3,12, 24, 36,43,654,65432,2,654,455,43,543]
l12=list(filter(lambda x:x%2!=0,l11))
print(l12)

[3, 43, 455, 43, 543]

2. For a given list filter the even numbers.  
[1, 2, 3, 4, 5, 6]

In [27]:
l13=[1, 2, 3, 4, 5, 6]
l14=list(filter(lambda x:x%2==0,l13))
print(l14)

[2, 4, 6]

3. For a given list  filter the even numbers using a user defined function.
\[2,3,5,3,6,3,7,4,6,7\]

In [13]:
def iseven(x):
    return x%2==0
list(filter(iseven,[2,3,4,6,7,]))

[2, 4, 6]

4. For a given list filter the odd numbers using a user defined function.
\[1, 12, 31, 4, 15, 6, 7\]

In [15]:
def isodd(x):
    return x%2!=0
list(filter(isodd,[2,3,4,6,7,]))

[3, 7]

### <font color='green'> **Reduce** </font>

1. Multiply all the elements of a list.  
\[1, 2, 3, 4\]

In [35]:
list1=[1, 2, 3, 4]
from functools import reduce
list2=reduce(lambda x,y:x*y,list1)
print(list2)

24

2. Add all the elements of the list given below (use reduce function)   
\[11, 13, 15, 16, 2, 43\]

In [36]:
list1=[11, 13, 15, 16, 2, 43]
from functools import reduce
list2=reduce(lambda x,y:x+y,list1)
print(list2)

100

3. Find the maximum value in the list   
\[543, 7, 6, 4567, 7, 78, 6, 6, 78, 765, 678\]

In [37]:
my_list =[543, 7, 6, 4567, 7, 78, 6, 6, 78, 765, 678]
from functools import reduce
max_value=reduce(lambda x,y:x if x>y else y,my_list)
print(max_value)

4567

4. Find the minimum value in the list   
\[543, 7, 6, 4567, 7, 78, 6, 6, 78, 765, 678\]

In [39]:
my_list=[543, 7, 6, 4567, 7, 78, 6, 6, 78, 765, 678]
from functools import reduce
max_value=reduce(lambda x,y:x if x<y else y,my_list)
print(max_value)

6

## Numpy

### 1. Write a NumPy program to convert a list of numeric values into a one-dimensional NumPy array

In [42]:
import numpy as np
arr1=np.array([1,2,3,4])
print(arr1)

[1 2 3 4]

### 2. Write a program to add a new column ([[5,7]]) at the last position in the array given below

arr_1 = [[3, 4], [8, 2],[5, 9]]

In [35]:
arr_1 = [[3, 4], [8, 2],[5, 9]]
arr_1.append([5,7])
print(arr_1)

[[3, 4], [8, 2], [5, 9], [5, 7]]

In [30]:
arr_1 = np.array([[3, 4], [8, 2],[5, 9]])
arr_2=np.array([[5,7]])
np.concatenate([arr_1,arr_2])

array([[3, 4],
       [8, 2],
       [5, 9],
       [5, 7]])

### 3. Create an array of integers from 20 to 2 with a step of -2

In [36]:
arr=np.arange(20,1,-2)
print(arr)

[20 18 16 14 12 10  8  6  4  2]

### 4. Create a 2D Numpy array from list of lists

[[110, 102, 183], [140, 175, 106], [170, 195, 117], [192, 140, 195]]

In [25]:
import numpy as np
list1 =np.array([[110, 102, 183], [140, 175, 106], [170, 195, 117], [192, 140, 195]])
print(list1)

[[110 102 183]
 [140 175 106]
 [170 195 117]
 [192 140 195]]

a. Find the minimum value along each of the rows

In [37]:
print(list1.min(axis=1))

[102 106 117 140]

### 5. Replace all odd numbers in the array with -2

**Use the array given below**<br>
    
       num_array_1 = np.array([0, 31, 42, 43, 34, 45, 26, 27, 38, 94, 65, 78, 76])

In [54]:
num_array_1 = np.array([0, 31, 42, 43, 34, 45, 26, 27, 38, 94, 65, 78, 76])
num_array_1[num_array_1%2!=0]=-2
print(num_array_1)

[ 0 -2 42 -2 34 -2 26 -2 38 94 -2 78 76]

### 6. Stack two arrays vertically

**Use the array given below:**<br>

    quantity1 = np.arange(10).reshape(2,-1)
    quantity2 = np.repeat(1, 10).reshape(2,-1)

In [38]:
quantity1 = np.arange(10).reshape(2,-1)
quantity2 = np.repeat(1, 10).reshape(2,-1)
print(quantity1)
print(quantity2)
np.concatenate([quantity1,quantity2],axis=0)

[[0 1 2 3 4]
 [5 6 7 8 9]]
[[1 1 1 1 1]
 [1 1 1 1 1]]

array([[0, 1, 2, 3, 4],
       [5, 6, 7, 8, 9],
       [1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1]])

### 7. Get common elements from the two arrays

**Use the array given below:**

    age_a = np.array([11,12,13,22,23,44,43,24,45,36])
    age_b = np.array([17,22,13,22,47,34,39,44,29,28])

In [41]:
import numpy as np
age_a = np.array([11,12,13,22,23,44,43,24,45,36])
age_b = np.array([17,22,13,22,47,34,39,44,29,28])
print(np.intersect1d(age_a,age_b))

[13 22 44]

### 8. Remove all the elements from num_array1 that are present in num_array2

**Use the array given below:**<br>

    num_array1 = np.array([1,2,3,4,5])
    num_array2 = np.array([5,6,7,8,9])

In [42]:
import numpy as np
num_array1 = np.array([1,2,3,4,5])
num_array2 = np.array([5,6,7,8,9])
np.setdiff1d(num_array1,num_array2)

array([1, 2, 3, 4])

### 9. Get the positions where elements of two arrays match

**Use the array given below:**<br>

    num_array1 = np.array([1,2,3,2,3,4,3,4,5,6])
    num_array2 = np.array([7,2,10,2,7,4,9,4,9,8])

In [43]:
import numpy as np
num_array1 = np.array([1,2,3,2,3,4,3,4,5,6])
num_array2 = np.array([7,2,10,2,7,4,9,4,9,8])
np.where(num_array1==num_array2)

(array([1, 3, 5, 7], dtype=int64),)

### 10. Reverse each of the rows of the 2D array

**Use the array given below:**<br>

    num_array1 = np.arange(16).reshape(4,4)

In [16]:
import numpy as np
num_array1 = np.arange(16).reshape(4,4)
num=np.flip(num_array1)
print(num)

[[15 14 13 12]
 [11 10  9  8]
 [ 7  6  5  4]
 [ 3  2  1  0]]

### 11. Swap row 1 and row 2 in the given array

**Use the array given below:**<br>
   
       num_array1 = np.arange(9).reshape(3,3)

In [18]:
num_array1 = np.arange(9).reshape(3,3)
print(num_array1)
num_array1[[0,1]]=num_array1[[1,0]]
print(num_array1)

[[0 1 2]
 [3 4 5]
 [6 7 8]]
[[3 4 5]
 [0 1 2]
 [6 7 8]]

### 12. Given the array 

a1 = np.array([[21, 42], [63, 78],[22,55],[124,567]])

a2 = np.array([[13, 45], [37, 99],[1456, 2356],[2567,45890]])

Perform the following operations

a. Concatenate the arrays along the rows

b. Concatenate the arrays along the columns

In [12]:
a1 = np.array([[21, 42], [63, 78],[22,55],[124,567]])

a2 = np.array([[13, 45], [37, 99],[1456, 2356],[2567,45890]])
np.concatenate((a1,a2),axis=0)

array([[   21,    42],
       [   63,    78],
       [   22,    55],
       [  124,   567],
       [   13,    45],
       [   37,    99],
       [ 1456,  2356],
       [ 2567, 45890]])

In [11]:
np.concatenate((a1,a2),axis=1)

array([[   21,    42,    13,    45],
       [   63,    78,    37,    99],
       [   22,    55,  1456,  2356],
       [  124,   567,  2567, 45890]])