# Generate Synthetic data

In [ ]:
import pandas as pd
import numpy as np
import random

# Set a random seed for reproducibility
np.random.seed(42)

# Generate synthetic data
data = {
    'Name': ['Name' + str(i) for i in range(1, 5001)],
    'Age': np.random.randint(18, 60, 5000),
    'Gender': random.choices(['Male', 'Female'], k=5000),
    'Test 1': np.random.randint(60, 100, 5000),
    'Test 2': np.random.randint(60, 100, 5000),
    'Test 3': np.random.randint(60, 100, 5000),
    'Height': np.random.randint(150, 200, 5000),
    'Weight': np.random.randint(50, 100, 5000)
}

# Create a DataFrame
df = pd.DataFrame(data)

# Insert some missing values
for col in 'Test 1', 'Test 2', 'Test 3', 'Height', 'Weight':
    df.loc[df.sample(frac=0.1).index, col] = np.nan

# Save the DataFrame to a CSV file
df.to_csv('synthetic_data.csv', index=False)

print(df.head())

    Name  Age  Gender  Test 1  Test 2  Test 3  Height  Weight
0  Name1   56    Male     NaN    98.0    81.0     NaN    54.0
1  Name2   46  Female     NaN    91.0    98.0   185.0    51.0
2  Name3   32  Female    95.0    77.0    82.0   154.0    95.0
3  Name4   25  Female    94.0    76.0    89.0   188.0    73.0
4  Name5   38  Female    91.0    93.0     NaN   155.0    67.0

# Questions (1 marks each)

# Questions

Part - A

Question 1:
Load the synthetic data CSV file into a pandas DataFrame and display the first 10 rows of the DataFrame.

Question 2:
Check for any missing values in the DataFrame.

Question 3:
Fill the missing values in each column with the mean of that column.

Question 4:
Create a new column in the DataFrame called 'Average' which is the average of 'Test 1', 'Test 2', and 'Test 3' for each student.

Question 5:
Find the total number of Male and Female students.

Question 6:
Find the average age of Male and Female students.

Question 7:
Find the students with the top 10 highest average marks.

Question 8:
Create a histogram to visualize the distribution of the 'Average' marks.

Question 9:
Create a bar plot to visualize the number of Male and Female students.

Question 10:
Create a box plot to visualize the distribution of the 'Age' of the students.

Question 11:
Create a multivariate line plot to visualize the average scores of 'Test 1', 'Test 2', and 'Test 3' for males and females.

Question 12:
Save the updated DataFrame with the 'Average' column to a new CSV file.


Part - B

Question 13:
Convert the following lists into a single pandas DataFrame.

names = ['Alice', 'Bob', 'Charlie', 'David']
ages = [25, 30, 35, 40]


Question 14:
Create a list of squares of all even numbers between 1 and 20 using list comprehension.

Question 15:
Use a lambda function to create a list of odd numbers between 1 and 50.

Question 16:
Write a Python program to print a right angle triangle using "*"

Part - A

Question 1:
Load the synthetic data CSV file into a pandas DataFrame and display the first 10 rows of the DataFrame.

Question 2:
Check for any missing values in the DataFrame.

Question 3:
Fill the missing values in each column with the mean of that column.

Question 4:
Create a new column in the DataFrame called 'Average' which is the average of 'Test 1', 'Test 2', and 'Test 3' for each student.

Question 5:
Find the total number of Male and Female students.

Question 6:
Find the average age of Male and Female students.

Question 7:
Find the students with the top 10 highest average marks.

Question 8:
Create a histogram to visualize the distribution of the 'Average' marks.

Question 9:
Create a bar plot to visualize the number of Male and Female students.

Question 10:
Create a box plot to visualize the distribution of the 'Age' of the students.

Question 11:
Create a multivariate line plot to visualize the average scores of 'Test 1', 'Test 2', and 'Test 3' for males and females.

Question 12:
Save the updated DataFrame with the 'Average' column to a new CSV file.


Part - B

Question 13:
Convert the following lists into a single pandas DataFrame.

names = ['Alice', 'Bob', 'Charlie', 'David']
ages = [25, 30, 35, 40]


Question 14:
Create a list of squares of all even numbers between 1 and 20 using list comprehension.

Question 15:
Use a lambda function to create a list of odd numbers between 1 and 50.

Question 16:
Write a Python program to print the following star pattern:

*
**
***
****
*****

In [ ]:
import pandas as pd
import numpy as np

df=pd.read