![GL logo.png]()

Proprietary content. © Great Learning. All Rights Reserved. Unauthorized use or distribution prohibited.


# <font color='green'> **Course 2: Week 01 - Revision** </font>

##  Table Of Contents
- ### <font color='blue'> Basics of programming </font>   
- ### <font color='blue'> Operations on different data types in Python </font>

## Basics of Programming.

1. Why do we need a programming language?

We need a programming language to avoid repetative task
<br><br>
2. What is a programming language and why do we need it?

A programming language is nothing but a language which interprets the human understandable language into a binary format interms of machine code to understand the machine a set of instructions to perform a task
<br><br>
3. What are the components of a programming language?

- Statements

  ○ Set of instructions, what they say about the written code!

- Variables
  
  ○ Places to hold data in memory when a program executes

- Syntax

  ○ What’s grammatically legal? It should be correct for a program to run

- Semantics

  ○ The meaning of the statements. What do they compute? It should be
correct to make a program work as expected
<br><br>

4. Difference between syntax errors and semantic errors with an example for each of them.


Syntax errors are errors which occur due to improper structure of the program. Debugging these errors are relatively easier in python.

Semantic errors are errors where the logic of the program is incorrect. Semantic errors do not interrupt the execution of the code but the output of this code is not as expected, this turns out to be a semantic error.

In [1]:
## Eg for syntax error

for i in range(1,10):
  print(i)

1
2
3
4
5
6
7
8
9

In [2]:
## Eg. for semantic error to print the total sales of two branches

b1_sales = 250
b2_sales = 350

total_sales=b1_sales*b2_sales
## why we use double quotes over single quotes in print statements
print("The total sale's is: ", total_sales)

The total sale's is:  87500

### 5.  What is a data variable?

Data variable is the name given for a said memory location.

In [3]:
a=5
id(a)

9793216

### 6. What is a data type? What are the different data types?

A data type specifies the type of value that a variable holds and the different mathematical operations that can be applied on these data types without causing an error.

The different datatypes available are:

1. Integer - Used to represent only whole numbers.
2. Float - Used to represent fractional numbers
3. Complex - Complex numbers are numbers that are stored in the format x+iy where x is the real numbers and iy is the imaginary number.
3. String - These are sequence of characters.
4. Boolean - Boolean data type has two data types associated. Either True or False.

In [4]:
## Example of integer data type
a=7
type(a)

int

In [5]:
## Example of float data type
a=33
b=7
c=a/b
print(c)
print(type(a))
print(type(b))
print(type(c))

4.714285714285714
<class 'int'>
<class 'int'>
<class 'float'>

In [6]:
## Example of floor division
a=33
b=7
c=a//b
print(c)
print(type(a))
print(type(b))
print(type(c))

4
<class 'int'>
<class 'int'>
<class 'int'>

In [7]:
## Example of complex number

a=5
b=7
c=complex(a,b)
print(c)

(5+7j)

In [8]:
## Extract the real and imaginary part of the complex number

print(c.real)
print(c.imag)

5.0
7.0

In [9]:
## String

x = "Happy New Year 2023"
type(x)

str

In [10]:
## Boolean
x = 5
y=x>1
print(y)
print(int(y))
type(y)

True
1

bool

In [11]:
## String Data Type

A= "Hi How are you"
print(A)
type(A)

Hi How are you

str

In [12]:
## find the length of the string

print("The length of the given string is: ",len(A))

The length of the given string is:  14

In [13]:
## to check whether the string has all upper or all lower case

print(A.islower())
print(A.isupper())

False
False

In [14]:
# lower case and upper case conversion
print("The string after converting to lower case is: ", A.lower())
print("The string after converting to upper case is: ", A.upper())

The string after converting to lower case is:  hi how are you
The string after converting to upper case is:  HI HOW ARE YOU

In [15]:
## Data Type Conversion

In [16]:
a = 3
b=4
c=5
d="6"
e= a+b+c+int(d)
print("The sum is: ", e)

The sum is:  18

#### <font color='green'> **Python Vocabulary** </font>

1. Keywords

  Keywords are the reserved words that have specific purpose in Python.

  We can cannot use them as part of variable name, function name, class name etc.

2. Identifiers

  Identifier is a name which is used to identify the variable, class, function module etc.

  It can be a combination of characters, underscore and digits.

  It can only start either with an underscore or an alphabet.

3. Literals

  Literals represent a fixed value.
  
  They are used to define a value to a variable or used to represent a raw value.

   Literals or Values :
  
  String Literals : ‘Hello’, ‘’’This is Programming Course’’’
 
  Character Literals : ‘G’, “w”
 
  Numeric Literals : 5, 10.3, -9

  Boolean Literals : True, False
  
  Special Literals : None
  
  Literals Collection : Set, List, Tuple, Dictionary
4. Statements

  Statements are the set of instructions used to implements an application logic in
the form of source code.
  
  Different types of statements are : Assignment Statements, Conditional
Statements, Looping Statements, etc.

5. Expression

  Expression is a combination of operators and operands which results to produce
some other value.

  Example:

  x = 10
  y = 20
  c = x + y (x and y are operands and + is operator)
  d = x * y
  print(c)
  print(d)
6. Indentation

  Indentation refers to adding white spaces before any statement in Python.
  
  We use indentation in Python to represent a code block.
  
  It raises the readability of the source code.
7. Comments

  If we have to add a comment in a code , we use # to start a comment.

  It can either be at the start for a new line or at the end of a line.

In [17]:
import keyword
print(keyword.kwlist)
print("Number of keywords are", len(keyword.kwlist))

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']
Number of keywords are 35

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

#### <font color='green'> **Data Types in python:** </font>

Data type classifies data.

  It defines various operations that can be performed on data of a particular data
type.

  In python, there are various data types. Each one is defined as a class.

  When a variable is declared, an object of a class is created.
Example, x = 10, here ‘x’ is an object of class integer

Various Datatypes in Python are as follows:

1. Numeric
  
  a. Integer - Holds whole numbers
  b. Complex - Holds complex numbers in the format x+yj
  c. Float - Real numbers with floating point representation

2. Boolean - True or False

3. Dictionary
  a. Declared using {key: value} with a key and value pair
  b. Key must be of immutable typ
  c. Key must be unique in a dictionary
  d. Value can be of any data type
  e. Access a value using a key

4. Set
  a. Declared using {}. Unordered collection of unique items
  b. Mutable. It can only have immutable items. Indexed access is not
possible

5. Sequence Types

  a. String - Array of bytes represented in Unicode characters.
  
  b. List - Declared using []. Can contain nested lists as well.

  c. Tuple - Declared using (). Can contain nested tuples as well.

#### <font color='green'> **Operators in Python** </font>

1. Arithmetic -- +,-,*,/
2. Comparison -- >,<,>=,<=,!=,==
3. Logical -- and, or, not 
4. Bitwise -- &,|,^,>>,<<
5. Assignment -- =, +=,...
6. Identity -- is, is not
7. Membership -- in, not in

In [18]:
a = 5
b = -5
c=1 
# print bitwise right shift operator
a>>=c
b<<=c
print("a >> 1 =", a)
print("b << 1 =", b)

a >> 1 = 2
b << 1 = -10

#### 1. Evaluate 254 minus 1345 divided by 45 plus (462 into 23) divided by 3.

In [19]:
## PEMDAS
# P - Parentheses
# E - Exponential
# M - Multiplication
# D - Division
# A - Addition
# S - Subtraction

x=254-1345/45+(462*23)/3
print(x)

3766.1111111111113

In [20]:
a=254 # Parentheses evaluation
b=1345/45 # multiplication
c=(462*23)/3 # division
d=a-b+c



d

3766.1111111111113

#### 2. Check whether the expression (54-3)/ 3 is equal to the expression (0.9*17)/0.9

In [21]:
x=(54-3)/3
y=(0.9*17)/0.9
x==y

True

#### 3. Print each value in the below list individually.

fruits = ["apple", "banana", "cherry"]

In [22]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

#### 4. Write a program to print the values whose length is > 5 from the below list.

fruits = ["apple", "banana", "cherry"]

In [23]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if len(x)>5:
    print(x)

banana
cherry

In [24]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  while len(x)>5:
    print(x)
    break

banana
cherry

#### 5. Write a program to find the if the user input value is a positive or negative number.

In [25]:
x=int(input("Enter the number"))
if x>0:
  print(x," is positive number")
else:
  print(x, ' is a negative number')

Enter the number7
7  is positive number

### 6. Write a code to find the factorial of a number using nested if-elif-else statement.


step 1: Enter a number and store it num

step 2: initialize factorial as 1

step 3: if num < 0: as k the user to enter positive value

step 4: elif num=0 print that factorial of 0 as 1

step 5: else: 

            for i in range (1,num+1)

                factorial =factorial*i

            print the factorial

In [26]:
num=int(input('Enter the number: '))
factorial = 1

# check if the number is negative, positive or zero
if num < 0:
   print("Enter a positive value")
elif num == 0:
   print("The factorial of 0 is 1")
else:
   for i in range(1,num + 1):
       factorial = factorial*i
   print("The factorial of",num,"is",factorial)

Enter the number: 7
The factorial of 7 is 5040

## Operations on different data types in Python

#### 7. Given the string 'Today is a sunny day.'

1. Write a code to get 'Today'  and 'sunny'.
2. Obtain the last two letters.
3. Write the statement backwards.

In [3]:
s1="Today is a sunny day."
print(s1[0:5])
print(s1[11:16])
print(s1[18:])
print(s1[::-1])

Today
sunny
ay.
.yad ynnus a si yadoT

#### 8. Write a program to perform following list operations on the list given below:

*   Check the length of mix_list_1
*   Check the membership of '24' in mix_list_1
*   Concatenate the mix_list_1 and mix_list_2
*   Repeat the mix_list_2 three times 

**Lists to perform operations:**

mix_list_1 = ['Learn', 24, 'Blue', False, -8]

mix_list_2 = [4, 7, 'Summer']

##### a. Check the length of mix_list_1

In [4]:
mix_list_1 = ['Learn', 24, 'Blue', False, -8]
mix_list_2 = [4, 7, 'Summer']
print(len(mix_list_1))

5

##### b. Check the membership of '24' in mix_list_1

In [6]:
mix_list_1 = ['Learn', 24, 'Blue', False, -8]

mix_list_2 = [4, 7, 'Summer']

SyntaxError: cannot assign to literal (2431336176.py, line 4)

In [8]:
 24 in mix_list_1

True

##### c. Concatenate the mix_list_1 and mix_list_2

In [11]:
mix_list_1 = ['Learn', 24, 'Blue', False, -8]

mix_list_2 = [4, 7, 'Summer']
mix_list_1.extend(mix_list_2)
print(mix_list_1)

['Learn', 24, 'Blue', False, -8, 4, 7, 'Summer']

##### d. Repeat the mix_list_2 three times

In [28]:
mix_list_2 = [4, 7, 'Summer']
print(mix_list_2*3)

[4, 7, 'Summer', 4, 7, 'Summer', 4, 7, 'Summer']

#### 9. Write the program to multiply the two lists

**Lists to perform multiplication:**

num_list_1 = [1, 2, 3, 4]

num_list_2 = [0, 5, 2, 1]

In [30]:
num_list_1 = [1, 2, 3, 4]

num_list_2 = [0, 5, 2, 1]
for i in range(0,len(num_list_1)):
    print(num_list_1[i]*num_list_2[i])

0
10
6
4

The zip() function returns a zip object, which is an iterator of tuples where the first item in each passed iterator is paired together, and then the second item in each passed iterator are paired together etc.

In [32]:
num=[i*j for i,j in zip(num_list_1,num_list_2)]
print(num)

[0, 10, 6, 4]

#### 10. Write a code to retrieve elements from a list



*   First element
*   Second last element
*   First three elements
*   Slice the list from 1st index till the last index with an increment of an index by 2

**Use the below list**

mix_list = ['Python', 1, 2, 3, 'Data', True]

In [24]:
mix_list = ['Python', 1, 2, 3, 'Data', True]
print(mix_list[0])

Python

In [25]:
mix_list = ['Python', 1, 2, 3, 'Data', True]
print(mix_list[-2])

Data

In [27]:
mix_list = ['Python', 1, 2, 3, 'Data', True]
print(mix_list[0:3])

['Python', 1, 2]

In [26]:
PRINT(mix_li)

#### 11. Write a program to perform following built-in list operations:

1. Min(list)
2. Max(list)
3. Sort the elements (use sort() and sorted() function)
4. Create a copy of a list
5. Remove element '5' from the list

**Use the below list**

num_list = [4, 5, 7, -2, 0, 1]

In [34]:
num_list = [4, 5, 7, -2, 0, 1]
print(min(num_list ))

-2

In [35]:
num_list = [4, 5, 7, -2, 0, 1]
print(max(num_list))

7

In [37]:
num_list = [4, 5, 7, -2, 0, 1]
num_list.sort()
print(num_list)

[-2, 0, 1, 4, 5, 7]

In [2]:
num_list = [4, 5, 7, -2, 0, 1]
num_list.sorted()
print(num_sorted, num_list)

AttributeError: 'list' object has no attribute 'sorted'

In [39]:
num_list = [4, 5, 7, -2, 0, 1]
my_list=num_list.copy()
print(my_list)

[4, 5, 7, -2, 0, 1]

In [40]:
num_list = [4, 5, 7, -2, 0, 1]
num_list.remove(5)
print(num_list)

[4, 7, -2, 0, 1]

#### 12. Use the below list and perform the mentioned operations.
languages_list = ['R', 'Python', 'C', 'Java']

1. Add a new element 'Data' in the given list
2. Add a new element 'Science' at index 1 in the given list.
3. Add elements 'Excel' and 'Data' in the given list
4. Replace an element 'C' with 'C++' in the given list

In [41]:
languages_list = ['R', 'Python', 'C', 'Java']
languages_list.append("Data")
print(languages_list)

['R', 'Python', 'C', 'Java', 'Data']

In [44]:
languages_list = ['R', 'Python', 'C', 'Java']
languages_list.insert(1,"Science")
print(languages_list)

['R', 'Science', 'Python', 'C', 'Java']

In [3]:
languages_list.extend("Excel","Data")
print(languages_list)

NameError: name 'languages_list' is not defined

In [47]:
languages_list = ['R', 'Python', 'C', 'Java']
languages_list.replace('C',"C++")
print(languages_list)

AttributeError: 'list' object has no attribute 'replace'

can't use replace function in list to make it ['R', 'Python', 'C++', 'Java', 'Excel', 'Data']

we can replace particular character in a string with another one using for loops

#### 13. How many times 'Summer' is occuring in a given list?

Use the below list

seasons_list = ['Summer', 'Winter', 'Spring', 'Winter', 'Spring' ,'Summer', 'Spring', 'Summer', 'Winter', 'Summer', 'Spring']

#### 14. Perform the below operations on the tuple given:

**Tuples to perform operations:**

num_tuple = (4, 4, 8)

mix_tuple = ('John', 5, -2)

1. Check the length of num_tuple
2. Concatenate the num_tuple and mix_tuple
3. Repeat the mix_tuple two times

Tuples can be sliced and indexed

#### 15. Add a new element '4' to the given tuple without converting it to a list

**Use the tuple below:**

mix_tuple = (['a', 1, True], 2, 'Science', -5)

#### 16. Replace the elements in the given tuple:

**Use the tuple below:**

mix_tuple = (['a', 1, True], 2, 'Science', -5)

<br>
                        a. Replace '2' with '3'<br>
                        b. Replace 'True' in first element with 'False'

#### 17. Write the program to perform following manipulations:

a. Add '7' to the given set<br>
b. Remove '3' from a given set<br>
c. Clear the set

**Use the below set for manipulation**

num_set = {1, 2, 3, 4, 5, 6}

no repetitions

ordered set of inputs with homogeneous data

#### 18. Create two sets of words from the given sentences and perform the following operations:

 a. Find the count of unique words in each of the sentence<br> 
                        b. Find the common words in both the sentences<br>
                        c. Find the unique words in both the sentences
                       </b>

**Use the sentences given below:**
    
sentence_1 = 'We we shall analyse the data using python' 

sentence_2 = 'Python for data science'

#### 19. Write a program to perform following set operations:

<br>
                        a. Set of all the elements of set A that are not in set B<br>
                        b. Set of all the elements of set B that are not in set A<br>
                        c. Symmetric difference


A = {1, 4, 5, 2, 6, 3, 40, 7, 87, 4, 71}

B = {3, 42, 51, 6, 7, 8, 54, 5}

#### 20. Write a code to perform below operations on the given dictionary

Use the given dictionary and add a key (4:16)

square_dictionary = {1:1, 2:4, 3:9}

a. add a key to a dictionary

b. retrieve the value given a key

#### 21. Use the keys and values to create a dictionary

key = ['a','b','c','d']

value = [1, 2, 3, 4]

#### 22. Set the country of an employee as 'India' in the given employee record

Use the dictionary

emp_record = {'Emp_ID': 'ES001', 'Weight': 67, 'BMI': 25, 'Age': 27, 'Profession': 'CA'}

#### 23. Use list comprehension to obtain the squre root of first 10 natural numbers.

In [5]:
list=[i**1/2 for i in range(1,11)]
print(list)

[0.5, 1.0, 1.5, 2.0, 2.5, 3.0, 3.5, 4.0, 4.5, 5.0]

#### 24. Use list comprehension to find the used vowels in a given sentence and/or word (take the input from user).

In [6]:
n=int(input("Enter the string"))

SyntaxError: invalid syntax (4147744922.py, line 3)

#### 25. Create a dictionary and access it values using a condition on its key. The data is given below. Let the condidtion on the key is that it should be a even number.

<table>
<tr>
    <th>Key</th>
    <td>1</td>
    <td>2</td>
    <td>3</td>
    <td>4</td> 
    <td>5</td> 
</tr>
<tr>
    <th>Name</th>
    <td>Aman</td>
    <td>Mohit</td>
    <td>Guari</td>
    <td>Imran</td>
    <td>Roma</td
     </tr>
<tr>
    <th>Marks</th>
    <td>24</td>
    <td>25</td>
    <td>26</td>
    <td>24</td>
    <td>27</td>
   </tr>
</table>

#### 26. Use list comprehension to find even and odd numbers from first 20 whole numbers.

In [7]:
li_even=[i for i in range(0,21) if i%2==0]
li_odd=[i for i in range(0,21) if i%2!=0]
print(li_even)
print(li_odd)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

#### 27. Use list comprehension to create a dictionary such that its keys are numbers from 1 to 10 and values are the corresponding to that key are its cube.

In [10]:
dic={i:i**3 for i in range(1,11)}
print(dic)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729, 10: 1000}

 28. Use list comprehension to print table of 11 to 20 as shown below.

#### 29. Use list comprehension to find transpose of the matrix given below.

<table>
    <tr>
        <td>1</td>
        <td>2</td>
    </tr>
    <tr>
        <td>3</td>
        <td>4</td>
    </tr>
    <tr>
        <td>5</td>
        <td>6</td>
    </tr>
    <tr>
        <td>7</td>
        <td>8</td>
    </tr>
    </table>

## Happy Learning :)